PORT=6969

DB_URL='postgres://<user>:<password>@localhost:5432/blog-app'
POSTGRES_USER='db-user'
POSTGRES_PASSWORD='db-passwd'
POSTGRES_DB='blog-app'

# GUI for Postgres_DB
PGADMIN_EMAIL='set-pgadmin-email'
PGADMIN_PASSWORD='set-pg-admin-passwd'